# spinnaker url will follow spinnaker.[$spinnaker-domain]
spinnaker_domain=mydomain.com
spinnaker_domain_email=user@mydomain.com
# for a list of valid versions see here: gcr.io/spinnaker-marketplace/halyard
halyard_image_tag=1.17.0
spinnaker_version=1.12.6
spinnaker_helmchart_version=1.8.0
internal_endpoint=False # whether spinnaker ingress should be external or internal. valid values True of False
ingress_subnet=ops-cluster-subnet # need to be defined when internal endpoint is set to True
